# IDE and Editor files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp

# Gradle & Build files
.gradle/
build/
/build/
**/build/
.cxx/
local.properties
keystore.properties

# Log files
*.log

# Built artifacts
*.apk
*.aar
*.jar
*.ap_
*.dex
*.class

# Android Studio captures
captures/
